/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-height: 9999999999px;
}
*:focus {
  outline: none;
}
*:active {
  outline: none;
}
a,
button {
  cursor: pointer;
}
.container {
  width: 75em;
  margin: 0 auto;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
.row {
  margin-left: -0.9375em;
  margin-right: -0.9375em;
}
.row:before,
.row:after,
.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}
.clear-fix:after,
.row:after {
  clear: both;
}
.col {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  float: left;
}
@media screen and (max-width: 5000px) {
  .col.xs-12 {
    width: 100%;
  }
  .col.xs-11 {
    width: 91.66666666666667%;
  }
  .col.xs-10 {
    width: 83.33333333333333%;
  }
  .col.xs-9 {
    width: 75%;
  }
  .col.xs-8 {
    width: 66.66666666666667%;
  }
  .col.xs-7 {
    width: 58.333333333333336%;
  }
  .col.xs-6 {
    width: 50%;
  }
  .col.xs-5 {
    width: 41.666666666666664%;
  }
  .col.xs-4 {
    width: 33.333333333333336%;
  }
  .col.xs-3 {
    width: 25%;
  }
  .col.xs-2 {
    width: 16.666666666666668%;
  }
  .col.xs-1 {
    width: 8.333333333333334%;
  }
  .-pull-xs-left {
    float: left;
  }
  .-pull-xs-right {
    float: right;
  }
  .-text-xs-left {
    text-align: left;
  }
  .-text-xs-right {
    text-align: left;
  }
  .-text-xs-center {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .col.lg-12 {
    width: 100%;
  }
  .col.lg-11 {
    width: 91.66666666666667%;
  }
  .col.lg-10 {
    width: 83.33333333333333%;
  }
  .col.lg-9 {
    width: 75%;
  }
  .col.lg-8 {
    width: 66.66666666666667%;
  }
  .col.lg-7 {
    width: 58.333333333333336%;
  }
  .col.lg-6 {
    width: 50%;
  }
  .col.lg-5 {
    width: 41.666666666666664%;
  }
  .col.lg-4 {
    width: 33.333333333333336%;
  }
  .col.lg-3 {
    width: 25%;
  }
  .col.lg-2 {
    width: 16.666666666666668%;
  }
  .col.lg-1 {
    width: 8.333333333333334%;
  }
  .-pull-lg-left {
    float: left;
  }
  .-pull-lg-right {
    float: right;
  }
  .-text-lg-left {
    text-align: left;
  }
  .-text-lg-right {
    text-align: left;
  }
  .-text-lg-center {
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .col.md-12 {
    width: 100%;
  }
  .col.md-11 {
    width: 91.66666666666667%;
  }
  .col.md-10 {
    width: 83.33333333333333%;
  }
  .col.md-9 {
    width: 75%;
  }
  .col.md-8 {
    width: 66.66666666666667%;
  }
  .col.md-7 {
    width: 58.333333333333336%;
  }
  .col.md-6 {
    width: 50%;
  }
  .col.md-5 {
    width: 41.666666666666664%;
  }
  .col.md-4 {
    width: 33.333333333333336%;
  }
  .col.md-3 {
    width: 25%;
  }
  .col.md-2 {
    width: 16.666666666666668%;
  }
  .col.md-1 {
    width: 8.333333333333334%;
  }
  .-pull-md-left {
    float: left;
  }
  .-pull-md-right {
    float: right;
  }
  .-text-md-left {
    text-align: left;
  }
  .-text-md-right {
    text-align: left;
  }
  .-text-md-center {
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .col.sm-12 {
    width: 100%;
  }
  .col.sm-11 {
    width: 91.66666666666667%;
  }
  .col.sm-10 {
    width: 83.33333333333333%;
  }
  .col.sm-9 {
    width: 75%;
  }
  .col.sm-8 {
    width: 66.66666666666667%;
  }
  .col.sm-7 {
    width: 58.333333333333336%;
  }
  .col.sm-6 {
    width: 50%;
  }
  .col.sm-5 {
    width: 41.666666666666664%;
  }
  .col.sm-4 {
    width: 33.333333333333336%;
  }
  .col.sm-3 {
    width: 25%;
  }
  .col.sm-2 {
    width: 16.666666666666668%;
  }
  .col.sm-1 {
    width: 8.333333333333334%;
  }
  .-pull-sm-left {
    float: left;
  }
  .-pull-sm-right {
    float: right;
  }
  .-text-sm-left {
    text-align: left;
  }
  .-text-sm-right {
    text-align: left;
  }
  .-text-sm-center {
    text-align: center;
  }
}
.-fluid-image > img {
  display: block;
  max-width: 100%;
}
@font-face {
  font-family: "ObitaemOstrovRegular";
  src: url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.eot");
  src: url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.woff") format("woff"), url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  padding-bottom: 200px;
  background: #ffc55a;
}
main {
  background: #fff;
  overflow: hidden;
}
.player {
  height: 200px;
  width: 103px;
  bottom: 0;
  position: absolute;
  transition: all 300ms linear;
}
._player-1 {
  background: #f00;
  left: 10%;
}
._player-2 {
  background: #008000;
  left: 85%;
}
.shot {
  bottom: 80px;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  z-index: 999;
}
.dead {
  background: #00f;
}
.health-line {
  width: 515px;
  height: 32px;
  border: 1px solid #8f8f8f;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  position: absolute;
  top: 60px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.health-line.active {
  animation-name: height_animate;
  animation-iteration-count: 6;
  animation-duration: 150ms;
}
.health-line_inner {
  width: 100%;
  height: 32px;
  background: #bb2c2c;
  position: relative;
  z-index: 10;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
.health-line_inner-2 {
  width: 100%;
  top: 0;
  position: absolute;
  height: 32px;
  background: #ffca22;
  float: right;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
.player-h_1 .health-line_inner,
.player-h_1 .health-line_inner-2 {
  left: 0;
  float: left;
}
.player-h_2 .health-line_inner,
.player-h_2 .health-line_inner-2 {
  float: right;
  right: 0;
}
.health-line.player-h_1 {
  left: 60px;
}
.health-line.player-h_2 {
  right: 60px;
}
.player_dead {
  background: #808080;
  transform: rotate(-90deg) translateX(-50px);
}
.loading_screen {
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 999;
  background: #000;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
}
.loading_screen.start {
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -o-transform: translateY(-150%);
}
.loading_screen h1 {
  margin-top: 10%;
  color: #fff;
  font-size: 60px;
  font-family: "ObitaemOstrovRegular", serif;
  text-align: center;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  transition: all 3200ms ease-in-out;
  -webkit-transition: all 3200ms ease-in-out;
  -moz-transition: all 3200ms ease-in-out;
  -o-transition: all 3200ms ease-in-out;
}
.loading_screen h1.ready {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
}
.loading_screen h1 span {
  color: #fff;
  font-size: 150px;
}
.loading_screen h1 strong {
  transform: scale(0);
  display: inline-block;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  -o-transition: all 1000ms ease-in-out;
}
.loading_screen h1 strong.ready {
  transform: scale(1);
}
.loading_screen h1 span span {
  color: #2f90e6;
}
.start-btn {
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.start-btn.ready {
  opacity: 1;
  visibility: visible;
}
.start-btn:hover {
  background: #2f90e6;
  color: #fff;
}
.scope {
  position: absolute;
  top: 200px;
  color: #2f90e6;
  font-size: 50px;
  font-family: "ObitaemOstrovRegular", serif;
}
.scope.scope_player-1 {
  left: 60px;
}
.scope.scope_player-2 {
  right: 60px;
}
@-moz-keyframes height_animate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes height_animate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes height_animate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes height_animate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
