@import "/stylus.styl"


@font-face {
        font-family: "ObitaemOstrovRegular";
        src: url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.eot");
        src: url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.woff") format("woff"),url("../fonts/ObitaemOstrovRegular/ObitaemOstrovRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

html, body, main
    height: 100%;
    width: 100%;
    position relative
body
    padding-bottom 200px
    background #ffc55a

main
    background #fff
    overflow: hidden;
.player
    height 200px
    width 103px
    bottom 0
    position absolute
    transition all 300ms linear
._player-1
    background red
    left 10%
._player-2
    background green
    left 85%
.shot
    bottom 80px
    width 20px
    height 20px
    background #000
    border-radius 10px
    position: absolute
    z-index 999
.dead
    background blue

.health-line
    width: 515px;
    height: 32px;
    border 1px solid #8f8f8f
    box-shadow 0 10px 20px rgba(0, 0, 0, 0.2)
    position absolute
    top 60px
    overflow hidden
    radius 50px
    animate 300 ease-in-out
    &.active
        animation-name height_animate
        animation-iteration-count 6
        animation-duration 150ms


@keyframes height_animate {
    0% {
        transform rotate(0deg)
    }
    25% {
        transform rotate(2deg)
    }
    50% {
        transform rotate(0deg)
    }
    75% {
        transform rotate(-2deg)
    }
    100% {
        transform rotate(0deg)
    }
}
.health-line_inner
    width 100%;
    height 32px;
    background #bb2c2c
    position relative
    z-index 10
    animate 100 ease-in-out
.health-line_inner-2
  width 100%;
  top 0
  position absolute
  height 32px;
  background #ffca22
  float: right
  animate 200 ease-in-out
.player-h_1 .health-line_inner,
.player-h_1 .health-line_inner-2
  left 0
  float: left
.player-h_2 .health-line_inner,
.player-h_2 .health-line_inner-2
  float: right
  right 0

.health-line.player-h_1
    left 60px
.health-line.player-h_2
    right 60px
.player_dead
    background gray
    transform rotate(-90deg) translateX(-50px)
.loading_screen
    position fixed
    width 100%
    top 0
    height 100%
    z-index: 999
    background #000
    animate 1000 ease-in-out
    &.start
        t-translateY(-150%)
.loading_screen h1
    margin-top 10%
    color #fff
    font-size 60px
    font-family "ObitaemOstrovRegular",serif
    text-align center
    t-translateY (-150%)
    animate 3200 ease-in-out
    &.ready
        t-translateY (0)
.loading_screen h1 span
    color #fff
    font-size 150px
.loading_screen h1 strong
    transform scale(0)
    display: inline-block;
    animate 1000 ease-in-out
    &.ready
        transform scale(1)

.loading_screen h1 span span
    color: #2f90e6
.start-btn
    margin-top 50px
    opacity 0
    visibility hidden
    display: inline-block
    animate 300 ease-in-out
    &.ready
        opacity 1
        visibility visible
    &:hover
        background #2f90e6
        color: #fff
.scope
  position absolute
  top 200px
  color #2f90e6
  font-size 50px
  font-family "ObitaemOstrovRegular",serif
  &.scope_player-1
    left 60px;
  &.scope_player-2
    right 60px;